.ios,
.md {
    page-tabs {
        .tabbar {
            left: 1.5%;
            width: 97%;
            border-radius: 5px;
            padding: 3px;
            border-top: none !important;
            bottom: 2% !important;
            font-size: 15px;
        }
    }
}