<ion-content>
    <ion-tabs color="myBlue">
        <ion-tab tabIcon="car" tabTitle="Trosky" [root]="tab1root"></ion-tab>
        <ion-tab tabIcon="clock" tabTitle="Recent" [root]="tab2root"></ion-tab>
    </ion-tabs>
</ion-content>