<ion-content>
    <ion-grid class=" gridStart has-footer">
        <ion-row>
            <ion-col class="homep">
                <p text-center text-lg-center>Vie passe leurs aux jeune idees rendu hisse oui. Car contes but nouent blancs les derobe wagons ras durant. Electrique ces arriverent nos renferment decharnees. Jeu appela car depart esprit qui acheve patrie crises peu. Cime en rage le
                    pois.
                </p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-8 class=" colStart">
                <button ion-button class=" btnStart" (click)="checkLocation()" color="myGreen">START</button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>