.ios,
.md {
    page-home {
        ion-content {
            background-image: url('../../assets/img/welcomeImage.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        .btnStart {
            width: 100%;
            height: 4em;
            border-radius: 0;
            box-shadow: none;
        }
        .colStart {
            margin: 0 auto;
        }
        .gridStart {
            position: relative;
            top: 50%;
        }
        .homep {
            padding: 1em;
            font-size: 1.4em;
        }
    }
}