.ios,
.md {
    page-index {
        .goingGrid {
            position: fixed;
            top: 20%;
            z-index: 4;
        }
        .goingBtn {
            width: 100%;
            padding: 2em;
        }
        .goingBtn .button-inner {
            justify-content: start;
        }
        .goingCol {
            margin: 0 auto;
        }
        .button-inner .goingIcon {
            font-size: 2.3em;
        }
        #map {
            height: 100%;
            width: 100%;
            position: fixed !important;
        }
        .scroll {
            height: 100%;
        }
    }
}