<ion-content>
    <ion-grid class=" goingGrid">
        <ion-row>
            <ion-col col-10 class=" goingCol">
                <button ion-button icon-left icon-right class=" goingBtn" color="myBlue">
                    <ion-icon name="bus" class="goingIcon"></ion-icon>
                    Going To
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div #map id="map"></div>
</ion-content>